<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  
  <body>
    
<div class="well well-lg" style="float: center; border: 50%; width: 50%; height: 100%">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<form style="float: center">
  <div class="form-group">
    <label for="email">Email address:</label>
    <%= f.label :email %><br />
    <input type="email" class="form-control" id="email">
  </div>

  <div class="form-group">
    <label for="pwd">Password:</label>
    <%= f.label :password %><br />
    <input type="password" class="form-control" id="pwd">
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox">
      <%= f.check_box :remember_me %>
      <label><input type="checkbox"> Remember me</label>
    </div>
  <% end -%>

  <div type="submit" class="btn btn-default">
    <!--<button type="submit" class="btn btn-default">Submit</button>-->
    <%= f.submit "Log in" %>
  </div>
<% end %>

</form>
</div>
</body>

</html>