<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<%= form_for([@article, 
@article.comments.build]) do |f| %>

<p>
    <%= f.label :commenter %>
    <br>
    <%= f.trix_editor :commenter %>
</p>

<p>
    <%= text_field( :title, :class => "form-group" ) %>
    <%= f.file_field :source, :class => "form-group" %>
</p>

<p>
    <%= f.label :body %><br>
    <%= f.trix_editor :body %>
</p>

<p>
    <%= f.submit %>
</p>

<% end %>