<!DOCTYPE html>
<html>
    <head>
        <!--THe code below is for Google Adsense-->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-5852011113109152",
            enable_page_level_ads: true
          });
        </script>
        
        <!--The code below is for Google Analytics-->
          <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-98295333-1', 'auto');
          ga('send', 'pageview');

          </script>
        <title>Blog | Fashioned For Him</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <style>
            .container {
                float: center;
                width: 100%;
                max-height: 50%;
                padding-top: 50px;
                padding-bottom: 50%;
            }
            
            body, html {
                height: 100%;
                margin: 0;
            }
            
            .bg {
                /* The image used */
                    /*background-image: url('https://lh3.googleusercontent.com/I8vaSeBPlBPeo7WQ3TKA7fUXZ8sBAZSHpOEaJeHt953rGIbjsN9TTu90Yzee4MSr3ugHpwNTmv83KNbhrjq1ZwyYrqGfDhqkYICElK55eLqJ_k2Ms61TgRz12QQfjB747zz0Lsdj2edqxquPW3taoMs5CCUgB66Vq2Gpanhr9zqiz6Lapywtw-Ry4O5GJ2Uq6KXl-eLjCSZiPBp7ebzDWcis3hPSWSD51nODcGTq0wyZIcZqjDfI_TGnWaFxbmNqluQSk50w3X3Qv0tXfxe2atq3DOZ2az2bwPjV8j4yRyOd8xyTBrBzKJKjgT7KLFZKaRikeSAOcdNKDhz8ejzNBJtCSUsr5sN_gBiJCll5vy5hLvnEeESQn-zzTxY5UiuFnPxsw0OHevDNNqHupaJ7GYIzuR1V_r5hB-RgzZ4YvAuacrO6UZlfuSp0SudtV-_8YryVEEohf8u9RrbyQlVmAJup22KiA_o9a9a0JEpoWBY4YazXExvgNpvbV3uAWUvBQZ0lf8qie2uRT49dODuNbF16Rt2EX5aBFBtV5nWvIfMGkLSAr4fiEuUmZshpE1wVjoy8FngJMv3by7Bo1PiTo8vRGmxpd4bf8o5XH3jW0MYvBWkht8wz-meP=w1208-h679-no');
                    
                    /* Full height */
                    /*height: 100%;
                    max-height: 2000px;
    
                    /* Center and scale the image nicely */
                    /*background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    */
                    background-size: cover;
                    background-repeat: no-repeat;
                    float: left;
                    margin:0 0 30px 0;
                    padding: 5px 0 0 0 ;
                    width: 100%;
                    background-image:url('http://wallpapercave.com/wp/YnqV3mo.jpg');           
            }
            
            .w3-quarter {
                width: 400px;
                height: 50%;
                padding: 20px;
                
            }
            .btn-primary:hover {
                background-color: #ff8798;
            }
            .btn-primary:focus,
            .btn-primary:active,
            .btn-primary {
              background-color: #ff9eac;
              border: none;
            }
            .label, .label-primary {
                background-color: #ff9eac;
            }
            
            h1, h2, h3, h4, h5 {
                font-family: "Great Vibes";
            }
            
            p {
                font-family: 'Dosis'
            }
        </style>
    </head>
    
    <body>
        
        <div class="bg"><p style="font-size: 400%; text-align: center; 
            padding-top: 20%; color: black; min-padding: 30px; padding-top: 20%; padding-bottom: 30%; font-family: Great Vibes">Blog</p></div>
        
        <div class="container">
            <table>
                
                <% @articles.reverse.each do |article| %>
                    <div class="w3-quarter">
                        <div class="panel panel-default" style="width: 300px; min-height: 300px;">
                          <div class="panel-heading">
                              <h3><%= article.title %></h3>
                              <p class="w3-opacity"><%= article.created_at.strftime("%b %d, %Y") %>  |  Comments <span class="label label-primary"><%= article.comments.count %></span> </p>
                          </div>
                          <div class="panel-body">
                              <p><%= article.text.first(250) %> ...</p>
                              <%= link_to 'Read More', article_path(article), class: 'btn btn-primary btn-block' %>
                          </div>
                        </div>
                    </div>
                <% end %>
            </table>
        </div>
        
    </body>
</html>