<head>
  <style>
    #comment {
      padding-left: 20px;
    }
  </style>
</head>

<body>
<a href="https://fashionedforhimblog-bgmichael00.c9users.io">Home</a>

<br><br><br>
<p>
  <strong style="font-size: 200%; padding-left: 20px;"><%= @article.title %></strong>
</p>
<p class="w3-justify" style="padding-left: 20px; padding-right: 20px;">
  <!--<strong>Text:</strong>-->
  <%= @article.text %>
</p>

<br>
<h2 style="padding-left: 20px;">Comments</h2>
<%= render @article.comments %>
 
<div id="comment">
<h2>Add a comment:</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', articles_path %>
</div>

</body>